[Unit]
Description=ntopng Service
Requires=redis.service
After=syslog.target network.target redis.service

[Service]
TimeoutStopSec=10s
#EnvironmentFile=/etc/sysconfig/ntopng
WorkingDirectory=/usr/local/share/ntopng
ExecStart=/usr/local/bin/ntopng $OPTIONS

[Install]
WantedBy=multi-user.target
